{% extends 'nav2.html' %}
{% load static %}
{% block title_block %} Control Panel advetisment {% endblock %}

{% block style_block %}

    <style>
        .home{
            margin-top: 70px;            
        }
        a{
            color:black !important;
            text-decoration: none;
        }
    </style>

{% endblock %}
    
{% block body_block %}
<div class="row home border mx-4 rounded mb-2">
    <div class="col-6 btn-sm border-end rounded"><div class="row" style="width: 100%;"> <a href="{% url 'NewsApp:control' %}" ><div class="col-11"><center> Articles </center></div></a> </div></div>

    <div class="col-6 btn-sm border-end bg-secondary rounded"><div class="row" style="width: 100%;"> <a href="" ><div class="col-11 text-light"><center> Advertisment </center></div></a> </div></div>
</div>
<div class="row bg-secondary border rounded shadow text-light py-auto mx-4 ">
    <div class="col-6 border-end" style="text-align: center;" ><h6> Article Name </h6></div>
    <div class="col-1 border-end" style="text-align: center;" ><h6> Clicks </h6></div>
    <div class="col-1 border-end" style="text-align: center;" ><h6> Category </h6></div>
    <div class="col-2 border-end" style="text-align: center;" ><h6> Published </h6></div>
    <div class="col-1 border-end" style="text-align: center;" ><h6> Delete </h6></div>
    <div class="col-1 border-end" style="text-align: center;" ><h6> Edit </h6></div>
</div>

    {% for result in results %}
        <div class="row mx-4 bg-warning-subtle my-1 border rounded shadow">
            <div class="col-6 border-end">
                <a href="{% url 'NewsApp:ad_details' pk=result.pk %}">
                <div class="row">
                <p style="font-family: 'Times New Roman', Times, serif; margin-top: 0%; margin-bottom: 0%; padding-top: 0%; padding-bottom: 0%; width: 100%;">{{ result.title }}</p></div></a>
            </div>
            <div class="col-1 border-end" style="text-align: center;">
                <p style="margin-top: 0%; margin-bottom: 0%;"> a </p>
            </div>
            <div class="col-1 border-end" style="text-align: center;">
                <p style="margin-top: 0%; margin-bottom: 0%;">b</p>
            </div>
            <div class="col-2 border-end" style="text-align: center;">
               <p style="font-size: small; margin-top: 0%; margin-bottom: 0%;">{{ result.created }}</p>
            </div>
            <div class="col-1 border-end" style="text-align: center;">
               <p style="margin-top: 0%; margin-bottom: 0%;"><a href="{% url 'NewsApp:ad_delete' pk=result.pk %}" style="color: black;"><i class="fa-solid fa-trash-can"></i></a> </p>
            </div>
            <div class="col-1 border-end" style="text-align: center;">
                <p style="margin-top: 0%;margin-bottom: 0%;"> <a href="{% url 'NewsApp:ad_update' pk=result.pk %}" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a> </p>
            </div>
        </div>
    {% endfor %}

    {% if not results %}
    <div class="row py-auto mx-4 ">
      <center><h6>No results found.</h6></center>
    </div>
    {% endif %}
{% endblock %}